<p>This is the partial for view 3.</p>
<hr>

<table>
    <tr class="TopRo">
        <td>Task number</td>
        <td>Task description</td>
        <td>Completed</td>
    </tr>
    <tr ng-repeat="task in tasks">
        <td>{{task.number}}</td>
        <td>{{task.description}}</td>
        <td>{{task.completed}}</td>
    </tr>
</table>
<br>
<form>
    <input placeholder="Task number" type="text" ng-model="inputText">
    <input placeholder="Description" type="text" ng-model="inputText">
    <input placeholder="Completed" type="text" ng-model="inputText">
    <button type="submit"> Add new Department </button>
</form>

<hr>
