<p>This is the partial for Tasks.</p>
<hr>

<div class="container">

  <div class="alert alert-info alert-dismissible" role="alert" ng-if="info">
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearInfo()">&times;</span></button>
    {{info}}
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Department</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <div>
      tasks:
      <div>
        <input type="text" ng-model="filterValue"/>
      </div>

    </div>
    <ul>

    </ul>

    <tr ng-repeat="task in tasks | filter: filterValue track by $index">
      <td> {{ task.no }}.</td>
      <td> {{task.deptNo}} </td>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.status}}</td>
      <td> <button class="btn btn-info btn-sm"  type="button" data-toggle="modal" data-target="#myModalEdit" ng-click="selectTask(task)">Edit</button>
      <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#myModalDelete" data-dismiss="modal" ng-click="deleteTask(selectTask(task))">Delete</button> </td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <div>
    <div>
      <div>

        <h4>New Task</h4>
      </div>
      <div>
        <form>
          <div>
            <label for="inputs" class="col-sm-2 control-label">Task</label>
            <div>
              <input type="text" class="form-control" id="inputs" ng-model="newTask.no">
            </div>
          </div>

            <div>
                <label for="inputs" class="col-sm-2 control-label">Department number</label>
                <div>
                    <input type="text" class="form-control" id="inputs" ng-model="newTask.deptNo">
                </div>
            </div>

          <div>
            <label for="inputs" class="col-sm-2 control-label">Title</label>
            <div>
              <input type="text" class="form-control" id="inputs" ng-model="newTask.title">
            </div>
          </div>

          <div>
            <label for="inputs" class="col-sm-2 control-label">Description</label>
            <div>
              <input type="text" class="form-control" id="inputs" ng-model="newTask.description">
            </div>
          </div>

          <div>
            <label for="inputs" class="col-sm-2 control-label">Status</label>
            <div>
              <input type="text" class="form-control" id="inputs" ng-model="newTask.status">
            </div>
          </div>

          <div>
            <div>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveTask();">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div>

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div>
  <div>

    <!-- Modal content-->
    <div>
      <div>
        <h4>Edit This Task</h4>
      </div>
      <div>
        <form>
          <div>
          <label for="inputs" class="col-sm-2 control-label">Title</label>
          <div>
            <input type="text" class="form-control" id="inputs" ng-model="clickedTask.title">
          </div>
        </div>

          <div>
            <label for="inputs" class="col-sm-2 control-label">Description</label>
            <div>
              <input type="text" class="form-control" id="inputs" ng-model="clickedTask.description">
            </div>
          </div>

          <div>
            <label for="inputs" class="col-sm-2 control-label">Status</label>
            <div>
              <input type="text" class="form-control" id="inputs" ng-model="clickedTask.status">
            </div>
          </div>

          <div>
            <div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>

<hr>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

