<p>This is the partial for view 2.</p>
<hr>

<p>5 + 5 = {{5+5}}</p>
<table>
    <tr class="TopTR">
        <td>Name</td>
        <td>Occupation</td>
        <td>State</td>
    </tr>
    <tr ng-repeat="employee in employees">
        <td>{{employee.Name}}</td>
        <td>{{employee.Occupation}}</td>
        <td>{{employee.State}}</td>
    </tr>
</table>
<br>
<form>
    <input placeholder="Name" type="text" ng-model="inputText">
    <input placeholder="Occupation" type="text" ng-model="inputText">
    <input placeholder="State" type="text" ng-model="inputText">
    <button type="submit"> Add new Department </button>
</form>



<hr>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
