<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<h1> This is the partial for Dashboard </h1>
<hr>

<tr ng-controller="View4Ctrl">
    <!-- <td >{{weather}}</td> -->
    <!-- <td> Weather in London is: {{weather.id}} </td> -->
    <td> Temperature in London is: </td>
    <td> {{weather.main.description}}</td>
    <td> {{weather.main.temp}}</td>
</tr>

<my-directive></my-directive>
<my-directive1></my-directive1>
<my-directive2></my-directive2>



<div class="container">




    <div class="alert alert-info alert-dismissible" role="alert" ng-if="info">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearInfo()">&times;</span></button>
        {{info}}
    </div>


    <div class="col-sm-4" width="100%">
    <table>
        <thead>
        <tr>Departments</tr>
        </thead>
        <tr ng-repeat="data in department track by $index">
            <td ng-click="showDepartment($index+1)"> {{data.name}} </td>

        </tr>
    </table>
    </div>

    <div class="col-sm-4">
    <table>
        <thead>
        <tr>Employees</tr>
        </thead>
    <tr ng-repeat="data in employee" track by $index>
        <td ng-click="showEmployee($index+10001)"> {{data.lastName}} </td>
    </tr>
    </table>
    </div>

    <div class="col-sm-4">
    <table>
        <thead>
        <tr>Tasks</tr>
        </thead>
    <tr  ng-repeat="data in task" track by $index>
        <td ng-click="showTask($index+1)"> {{data.title}} </td>
    </tr>
    </table>
    </div>

    <br>

<div class="col-sm-8">



</div>

</div>
