<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<h1> This is the partial for Dashboard </h1>
<hr>

<div class="container">

    <div class="alert alert-info alert-dismissible" role="alert" ng-if="info">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearInfo()">&times;</span></button>
        {{info}}
    </div>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>Employee</th>
            <th>Department</th>
            <th>Task</th>

        </tr>
        </thead>

        <tbody>
        <!-- we use track by index to remove the dupes. dupes are duplucates in ng-repeat -->
        <tr ng-repeat="info in infos">
            <td ng-click="showEmp($index)"> {{info.employee}}</td>
            <td ng-click="showDep($index)"> {{info.departmentName}} </td>
            <td ng-click="showTask($index)"> {{info.task}}</td>
        </tr>



        </tbody>
    </table>


    <tr ng-controller="View4Ctrl">
        <!-- <td >{{weather}}</td> -->
        <!-- <td> Weather in London is: {{weather.id}} </td> -->
        <td> Temperature in London is: </td>
        <td> {{weather.main.description}}</td>
        <td> {{weather.main.temp}}</td>
    </tr>

    <br>

</div>
