<p> This is the partial for Departments </p>
<hr>

<div class="container">

    <div class="alert alert-info alert-dismissible" role="alert" ng-if="info">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true" ng-click="clearInfo()">&times;</span></button>
        {{info}}
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Department</th>
            <th>Code</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
		<div>
            departments:
        <div>
            <input type="text" ng-model="filterValue"/>
        </div>

        </div>
        <ul>

        </ul>
        <!-- we use track by index to remove the dupes. dupes are duplucates in ng-repeat -->
		<tr ng-repeat="department in departments | filter: filterValue track by $index ">
            <td> {{ department.no }}.</td>
            <td> {{department.name}} </td>
            <td> {{department.code}}</td>
            <td> <button class="btn btn-info btn-sm"  type="button" data-toggle="modal" data-target="#myModalEdit" ng-click="selectDepartment(department)">Edit</button>
            <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#myModalDelete" data-dismiss="modal" ng-click="deleteDepartment(selectDepartment(department))">Delete</button> </td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <div>
        <div>
            <div>

                <h4 class="modal-title">New Department</h4>
            </div>
            <div>
                <form>
                    <div>
                        <label for="inputs" class="col-sm-2 control-label">Department</label>
                        <div>
                            <input type="text" class="form-control" id="inputs" ng-model="newDepartment.department">
                        </div>
                    </div>

                    <div>
                        <label for="inputs">Employee</label>
                        <div>
                            <input type="text" class="form-control" id="inputs" ng-model="newDepartment.emp">
                        </div>
                    </div>

                    <div>
                        <label for="inputs" class="col-sm-2 control-label">Location</label>
                        <div>
                            <input type="text" class="form-control" id="inputs" ng-model="newDepartment.location">
                        </div>
                    </div>

                    <div>
                        <div>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-if="!inputs" ng-click="saveDepartment();">Save</button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div>
    <div>

        <!-- Modal content-->
        <div>
            <div>
                <h4>Edit This Department</h4>
            </div>
            <div >
                <form>
                    <div>
                        <label for="inputs" class="col-sm-2 control-label">Department</label>
                        <div>
                            <input type="text" class="form-control" id="inputs" ng-model="clickedDepartment.department">
                        </div>
                    </div>

                    <div>
                        <label for="inputs" class="col-sm-2 control-label">Employee</label>
                        <div>
                            <input type="text" class="form-control" id="inputs" ng-model="clickedDepartment.emp">
                        </div>
                    </div>
                    <div>
                        <label for="inputs" class="col-sm-2 control-label">Location</label>
                        <div>
                            <input type="text" class="form-control" id="inputs" ng-model="clickedDepartment.location">
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

<hr>
<p>
    Showing of 'interpolate' filter:
    {{ 'Current version is v%VERSION%.' | interpolate }}
</p>